{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}

{% block body %}


 <!-- Loop over all the posts made in the network website -->
 {% for post in posts %} 
 <div class="div-posts">
     <a href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a>
     <p class="date">{{post.posting_date}}</p>
     
     <span class="post" data-id ='{{ post.id }}'>{{ post.post }}</span>
     {% if post.poster.id == user.id %}
         <a href="#" class="edit">Edit</a>
     {% endif%}  
     
     <!-- The user should only be able to like the posts if they are logged in -->
     <br><span class="heart">&#9829;</span>
     {% if user.is_authenticated %}
         
         {% if post.id in likes %}
             <span class="totallikes">{{ post.likes }}</span> <br><button data-postid ='{{ post.id }}' data-userid ='{{ user.id }}' class="subtractlike btn btn-secondary" id='u{{ post.id }}'>Unlike</button> 
         {% else %}
             <span class="totallikes">{{ post.likes }}</span> <br><button data-postid ='{{ post.id }}' data-userid ='{{ user.id }}' class="addlike btn btn-primary" id='l{{ post.id }}'>Like</button>
         {% endif %}
         
     {% endif %}
 </div>
{% endfor %}
<br><br>
<!-- ..... -->
{% for post in posts %}
<a href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a> {{ post.post }} {{ post.posting_date }} {{user.id}}<br>
{% endfor %}

<!-- Pagination navigation pages -->
<nav aria-label="Page navigation example">
 <ul class="pagination" name="page">
     {% if posts.has_previous %}
         <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
     {% else %}
         <li class="page-item disabled">
             <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
         </li>
     {% endif %}
     {% if posts.has_next %}
         <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
     {% else %}
         <li class="page-item disabled">
             <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
         </li>
     {% endif %}
 </ul>
</nav>
















{% endblock %}


