{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <form id="submit-form" method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <input id="post" name="post"><br>
            <input type="submit" value="New Post">
        </form>
    {% endif %}
    {% for post in posts %}
        <a href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a> {{ post.poster.id }} {{ post.post }} {{user.id}}<br>
    {% endfor %}
{% endblock %}


