{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}

{% block body %}
    <!-- testing javascript functionality -->
     <p id="id-check" class="class-check"> This is a testing site</p>
     <!--  -->
    {% if user.is_authenticated %}
        <form id="submit-form" method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            {{ form.post}} <br>
            <input type="submit" value="New Post">
        </form>
    {% endif %}
    {% for post in posts %} 
        <div class="div-posts">
            <a href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a> 
            <p class="post" data-id ='{{ post.id }}'> 
                {{ post.post }}</p> 
            This is the post id: {{ post.id }}
            <p>{{post.posting_date}}</p>
            {{ post.likes }}
            {% if post.poster.id == user.id %}
                <a href="#" class="edit">Edit</a><br>
            {% endif%}
        </div>

        
    {% endfor %}
    <br><br>
    <nav aria-label="Page navigation example">
        <ul class="pagination" name="page">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}


