{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}

{% block body %}    
    <div id="profile">
        <h3>{{ poster }}</h3>
        <h6>Following: <span class="badge badge-secondary">{{ no_followed }}</span></h6>
        <h6>Followers: <span class="badge badge-secondary">{{ no_followers }}</span></h6>
    </div>

    
    {% if user.is_authenticated %}
        {% if user.id != poster_id%}
            <div style="margin-left:25vw;padding-left: 7vw;margin-bottom: 5px;">
                <form action="{% url 'profile' poster_id %}" method="POST">
                    {% csrf_token %}
                    {% if followed %}
                    <button name="unfollow" value="unfollow" class="btn btn-light">Unfollow</button>
                {% else %}
                    <button name="follow" value="follow" class="btn btn-dark">Follow</button>
                {% endif %}
                </form>
            </div>
        {% endif %}
        {% for post in posts %} 
            <div class="div-posts">
                <a href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a>
                <p class="date">{{post.posting_date}}</p>
                
                <span class="post" data-id ='{{ post.id }}'>{{ post.post }}</span>
                {% if post.poster.id == user.id %}
                    <a href="#" class="edit">Edit</a>
                {% endif%}  
                
                <!-- The user should only be able to like the posts if they are logged in -->
                <br><span class="heart">&#9829;</span>
                {% if user.is_authenticated %}
                    {% block content %}
                        {% if post.id in likes %}
                            <span class="totallikes">{{ post.likes }}</span> 
                            <br>
                            <button data-postid ='{{ post.id }}' data-userid ='{{ user.id }}' class="subtractlike btn btn-secondary" id='u{{ post.id }}'>Unlike</button> 
                        {% else %}
                            <span class="totallikes">{{ post.likes }}</span> 
                            <br>
                            <button data-postid ='{{ post.id }}' data-userid ='{{ user.id }}' class="addlike btn btn-primary" id='l{{ post.id }}'>Like</button>
                        {% endif %}
                    {% endblock %}
                    
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    
{% endblock %}


