body {
    margin: 20px;
    padding-left: 10vw;
    background-color: #f1f0f0;
}


.div-posts {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 5px;
    max-width: 70vw;
    border-radius: 5px;
}

.custom-textarea {
    width: 70vw;
    border-radius: 5px;
    margin-top: 15px;
}
.date {
    font-size: x-small;
}


.heart {
    color: red;
}